{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="quote-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title p-15">Get your preferable quote</h3>
                </div>
                <div class="modal-body">
                    <div class="section-content bg-white p-15">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-animated-field">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <input name="quote_f_name" id="quote_f_name" class="form-control required" type="text" required="required" aria-required="true">
                                                <label for="quote_f_name">First Name</label>
                                            </div>
                                        </div> <!--first name-->
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <input name="quote_l_name" id="quote_l_name" class="form-control required" type="text" required="required" aria-required="true">
                                                <label for="quote_l_name">Last Name</label>
                                            </div>
                                        </div> <!--last name-->
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <input name="quote_email" id="quote_email" class="form-control required email" type="text" required="required" aria-required="true">
                                                <label for="quote_email">Your Email</label>
                                            </div>
                                        </div> <!--email-->
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <input name="quote_phone" id="quote_phone" class="form-control required" required="required" type="tel" aria-required="true">
                                                <label for="quote_phone">Phone number</label>
                                            </div>
                                        </div> <!--phone number-->
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <input name="quote_zip" id="quote_zip" class="form-control required" required="required" type="tel" aria-required="true">
                                                <label for="quote_zip">Zip code</label>
                                            </div>
                                        </div> <!--zip code-->
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <input name="quote_eff_date" id="quote_eff_date" class="form-control required date-picker" required="required" type="text" aria-required="true">
                                                <label for="quote_eff_date">Effective Date</label>
                                            </div>
                                        </div> <!--effective date-->
                                        <div class="col-sm-12">
                                            <div class="form-group mb-10">
                                                <textarea id="quote_address" name="form_message" class="form-control required" required="required" rows="5" aria-required="true"></textarea>
                                                <label for="quote_address">Your Address</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">See Quote</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: Home Banner -->
        <section id="home" class="divider parallax overlay-img-bg" data-stellar-background-ratio="0.5"
                 data-bg-img="{% if page.banner_bg.file %}{{ page.banner_bg.file.url }}{% else %}{% static 'images/bg/bg3.jpg' %}{% endif %}">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 mb-40 mt-50">
                                <h1 class="text-white text-uppercase hidden-xs hidden-sm line-height-1 text-center font-dois banner-heading">{{ page.banner_slogan|default:"" }}</h1>
                            </div>
                            <div class="col-md-6 col-md-offset-3">
                                <div class="p-25 pb-40 banner-zip-form-wrapper">
                                    <h3 class="m-0 mb-30 text-center">
                                        <span class="text-theme-colored2">Get a</span>
                                        <span class="text-theme-colored">Quote</span>
                                    </h3>
                                    <form id="home_appointment_form">
                                        <div class="input-group">
                                            <input type="text" placeholder="Enter Zip code" class="form-control input-lg font-16" style="height: 45px;">
                                            <span class="input-group-btn">
                                                <button class="btn btn-colored btn-theme-colored btn-xs m-0 font-14 pl-60 pr-60" type="button"
                                                        data-toggle="modal" data-target="#quote-modal" style="height: 45px;">Quote</button>
                                            </span>
                                        </div>
                                    </form>
                                    <p class="text-center text-black-777">{{ page.banner_qt_text|default:"" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: why choose us -->
        <section id="about">
            <div class="container pb-0">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="text-uppercase mt-0 mb-0 font-opensans themed-heading">{{ page.why_choose_heading|default:""|safe }}</h2>
                        <div class="title-icon mb-20">
                            <img class="mb-10" src="{% static 'images/title-icon.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-8 wow fadeInLeft animation-delay1">
                        <div>{{ page.why_choose_desc |default:""|safe }}</div>
                        <div class="row mt-20 mb-sm-30">
                            {% for wcit in page.whychoose_icontext.all %}
                                <div class="col-sm-6">
                                    <div class="service-icon-box">
                                        <a href="#" class="icon pull-left mr-10">
                                            <i class="{{ wcit.icon|default:"" }}"></i>
                                        </a>
                                        <div>
                                            <h4 class="mt-0 mb-0">{{ wcit.name|default:"" }}</h4>
                                            <p class="">{{ wcit.desc|default:"" }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInRight animation-delay4">
                        <img src="{% if page.why_choose_img.file %}{{ page.why_choose_img.file.url }}{% endif %}" alt="{{ page.why_choose_img.title|default:"Happy Customer" }}">
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Achievement -->
        <section class="divider parallax layer-overlay overlay-theme-colored2-9" data-bg-img="{% if page.achiev_bg.file %}{{ page.achiev_bg.file.url }}{% endif %}" data-parallax-ratio="0.7">
            <div class="container pt-60 pb-60">
                <div class="row">
                    {% for acv in page.achievement_count.all %}
                        <div class="col-xs-6 col-sm-6 col-md-3 mb-md-50">
                            <div class="funfact text-center">
                                <i class="{{ acv.icon|default:"" }} mt-5 text-white"></i>
                                <h2 data-animation-duration="2000" data-value="{{ acv.count|default:"0" }}" class="animate-number text-white font-42 font-weight-500">0</h2>
                                <h5 class="text-white text-uppercase font-weight-600">{{ acv.name|default:"-" }}</h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Section: Services -->
        <section id="services" class="bg-silver-light">
            <div class="container pb-40">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-uppercase mt-0 line-height-1 themed-heading">{{ page.srvc_heading }}</h2>
                            <div class="title-icon">
                                <img class="mb-10" src="{% static 'images/title-icon.png' %}" alt="">
                            </div>
                            <p>{{ page.srvc_desc }}</p>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row" style="display: flex; flex-wrap: wrap;">
                        {% for svcit in page.services_icontext.all %}
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pb-30">
                                <div class="icon-box text-center bg-white bg-hover-theme-colored2 p-30 h-100">
                                    <i class="{{ svcit.icon|default:"" }} font-weight-600 text-theme-colored{% if forloop.counter|divisibleby:2 %}2{% endif %} font-38"></i>
                                    <h3 class="mt-20">{{ svcit.name|default:"" }}</h3>
                                    <p>{{ svcit.desc|default:"" }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container-fluid pt-0 pb-0">
                <div class="row equal-height">
                    <div class="col-md-6 bg-theme-colored2 sm-height-auto">
                        <div class="p-50 p-sm-0 p-sm-0 pt-sm-30 pb-sm-30">
                            <h2 class="text-white">In Search Of A Good And Quality Health Insurance, 100+ agents are waiting for you.</h2>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi molestiae autem fugit consectetur dolor ullam illo ipsa numquam, quod iusto
                                enim ipsum amet iusto amet consec utem fugit consllo ipsa numquam dolor ullam illo, quod iusto enim ipsum amet iusto amet consec.</p>
                            <a href="#" class="btn btn-default btn-circled mt-10">view details</a>
                        </div>
                    </div>
                    <div class="col-md-6 bg-img-cover sm-height-auto overlay-img-bg overlay-img-bg-theme2" data-bg-img="{% static 'images/bg/bg29.jpg' %}">
                        <div class="p-50 p-sm-0 p-sm-0 pt-sm-30 pb-sm-30">
                            <form>
                                <h3 class="mt-0 line-bottom mb-30">Quote <span class="text-theme-colored font-weight-600">Now!</span></h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <input placeholder="First Name" type="text" name="f_name" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <input placeholder="Last Name" type="text" name="l_name" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <input placeholder="Email" type="text" name="email" class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <input placeholder="Phone" type="text" name="phone" class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <div class="styled-select">
                                                <select name="car_select" class="form-control" required="">
                                                    <option value="">- Select Your Services -</option>
                                                    <option value="stm">STM</option>
                                                    <option value="lim">Limited</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <input name="effective_date" class="form-control required date-picker" type="text" placeholder="Effective Date" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group mb-0 mt-0">
                                            <input name="form_botcheck" class="form-control" type="hidden" value="">
                                            <button type="submit" class="btn btn-colored btn-theme-colored btn-lg btn-flat border-left-theme-color-2-4px" data-loading-text="Please wait...">Submit
                                                Now
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Health Insurances -->
        <section id="health-insurances" class="bg-silver-light">
            <div class="container">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="mt-0 line-height-1 text-uppercase themed-heading">Insurance <span>Policies</span></h2>
                            <div class="title-icon">
                                <img class="mb-10" src="{% static 'images/title-icon.png' %}" alt="">
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
                        </div>
                    </div>
                </div>
                <div class="section-centent">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="horizontal-tab-centered">
                                <div class="text-center">
                                    <ul class="nav nav-pills mb-10">
                                        <li class="active"><a href="#tab11" class="" data-toggle="tab" aria-expanded="false"> STM</a></li>
                                        <li class=""><a href="#tab12" data-toggle="tab" aria-expanded="false"> Limited</a></li>
                                        <li class=""><a href="#tab13" data-toggle="tab" aria-expanded="true"> Anciliary</a></li>
                                        <li class=""><a href="#tab14" data-toggle="tab" aria-expanded="false"> Dental</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content bg-white">
                                    <div class="tab-pane fade in active" id="tab11">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="service-content ml-10 ml-sm-0">
                                                    <h2 class="">STM</h2>
                                                    <p class="lead">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora
                                                        consectetur quos minus ut quo nulla ipsa aliquid molestias.</p>
                                                    <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos
                                                        minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                                                    <div class="row mt-20 mb-sm-30">
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-ambulance14"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-illness"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum 2</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-stethoscope10"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum 3</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-medical51"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum 4</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="thumb mt-20">
                                                    <img class="img-fullwidth" src="{% static 'images/service-1.jpg' %}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab12">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="service-content ml-10 ml-sm-0">
                                                    <h2 class="">Limited</h2>
                                                    <p class="lead">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora
                                                        consectetur quos minus ut quo nulla ipsa aliquid molestias.</p>
                                                    <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos
                                                        minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                                                    <div class="row mt-20 mb-sm-30">
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-ambulance14"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-illness"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum 2</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-stethoscope10"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum 3</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-medical51"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum 4</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="thumb mt-20">
                                                    <img class="img-fullwidth" src="{% static 'images/service-1.jpg' %}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab13">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="service-content ml-10 ml-sm-0">
                                                    <h2 class="">Anciliary</h2>
                                                    <p class="lead">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora
                                                        consectetur quos minus ut quo nulla ipsa aliquid molestias.</p>
                                                    <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos
                                                        minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                                                    <div class="row mt-20 mb-sm-30">
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-ambulance14"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-illness"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum 2</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-stethoscope10"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum 3</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-medical51"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum 4</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="thumb mt-20">
                                                    <img class="img-fullwidth" src="{% static 'images/service-1.jpg' %}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab14">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="service-content ml-10 ml-sm-0">
                                                    <h2 class="">Dental</h2>
                                                    <p class="lead">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora
                                                        consectetur quos minus ut quo nulla ipsa aliquid molestias.</p>
                                                    <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos
                                                        minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                                                    <div class="row mt-20 mb-sm-30">
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-ambulance14"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-illness"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum 2</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-stethoscope10"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum 3</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="service-icon-box"><a href="#" class="icon pull-left mr-20"><i class="flaticon-medical-medical51"></i></a>
                                                                <div>
                                                                    <h4 class="mt-0 mb-0">Lorem Ipsum 4</h4>
                                                                    <p class="">Lorem ipsum dolor sit amet consec tetur elit</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="thumb mt-20">
                                                    <img class="img-fullwidth" src="{% static 'images/service-1.jpg' %}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

         <!-- Section: Partner -->
        <section id="partner" class="bg-theme-colored2 pt-20 pb-20">
            <div class="container pt-10 pb-10">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="owl-carousel-6col transparent text-center owl-nav-top">
                                {% for partner_logo in settings.home.PartnerImgSettings.partner_img_panel.all %}
                                    {% if partner_logo.logo.file %}
                                        <div class="pr-10 pl-10 item">
                                            {% if partner_logo.ptnr_url %}<a href="{{ partner_logo.ptnr_url }}">{% endif %}
                                                <img src="{{ partner_logo.logo.file.url }}" alt="{{ partner_logo.alt_text|default:"" }}">
                                            {% if partner_logo.ptnr_url %}</a>{% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
