{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags extra_tags %}

{% block content %}
    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: Home Banner -->
        <section id="home" class="divider parallax overlay-img-bg" data-stellar-background-ratio="0.5"
                 data-bg-img="{% if page.banner_bg.file %}{{ page.banner_bg.file.url }}{% else %}{% static 'images/bg/bg3.jpg' %}{% endif %}">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 mb-40 mt-50">
                                <h1 class="text-white text-uppercase hidden-xs hidden-sm line-height-1 text-center font-dois banner-heading">{{ page.banner_slogan|default:"" }}</h1>
                            </div>
                            <div class="col-md-6 col-md-offset-3">
                                <div class="p-25 pb-40 banner-zip-form-wrapper">
                                    <h3 class="m-0 mb-30 text-center">
                                        <span class="text-theme-colored2">Get a</span>
                                        <span class="text-theme-colored">Quote</span>
                                    </h3>
                                    <form id="home_appointment_form" class="auto-zip-form" method="get" action="{% get_quote_page_url %}">
                                        <div class="input-group">
                                            <label for="banner_zip_code" class="hidden-label">Zip Code</label>
                                            <input type="number" onKeyPress="if(this.value.length===5) return false;"
                                                   name="zip_code" placeholder="Enter Zip code"
                                                   class="form-control input-lg font-16" id="banner_zip_code" style="height: 45px;">
                                            <span class="input-group-btn">
                                                <button class="btn btn-colored btn-theme-colored btn-xs m-0 font-14 pl-60 pr-60"
                                                        type="submit" style="height: 45px;">Quote</button>
                                            </span>
                                        </div>
                                    </form>
                                    <p class="text-center text-black-777">{{ page.banner_qt_text|default:"" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: why choose us -->
        <section id="about">
            <div class="container pb-0">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="text-uppercase mt-0 mb-0 font-opensans themed-heading">{{ page.why_choose_heading|default:""|safe }}</h2>
                        <div class="title-icon mb-20">
                            <img class="mb-10" src="{% static 'images/title-icon.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="row same-height-row">
                    <div class="col-md-8 wow fadeInLeft animation-delay1 pt-80">
                        <div>{{ page.why_choose_desc |default:""|safe }}</div>
                        <div class="row same-height-row-by-js mt-20 mb-sm-30">
                            {% for wcit in page.whychoose_icontext.all %}
                                <div class="col-sm-6">
                                    <div class="service-icon-box">
                                        <div>
                                        {#<a href="javascript:void(0);" class="icon pull-left mr-10 full-centered">#}
                                        <span class="icon pull-left mr-10 full-centered">
                                            <i class="{{ wcit.icon|default:"" }}"></i>
                                        </span></div>
                                        <div>
                                            <h4 class="mt-0 mb-0">{{ wcit.name|default:"" }}</h4>
                                            <p class="">{{ wcit.desc|default:"" }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInRight animation-delay4 align-self-end">
                        <img src="{% if page.why_choose_img.file %}{{ page.why_choose_img.file.url }}{% endif %}" alt="{{ page.why_choose_img.title|default:"Happy Customer" }}">
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Achievement -->
        <section class="divider parallax layer-overlay overlay-theme-colored2-9" data-bg-img="{% if page.achiev_bg.file %}{{ page.achiev_bg.file.url }}{% endif %}" data-parallax-ratio="0.7">
            <div class="container pt-60 pb-60">
                <div class="row">
                    {% for acv in page.achievement_count.all %}
                        <div class="col-xs-6 col-sm-6 col-md-3 mb-md-50">
                            <div class="funfact text-center">
                                <i class="{{ acv.icon|default:"" }} mt-5 text-white"></i>
                                <h2 data-animation-duration="2000" data-value="{{ acv.count|default:"0" }}" class="animate-number text-white font-42 font-weight-500">0</h2>
                                <h5 class="text-white text-uppercase font-weight-600">{{ acv.name|default:"-" }}</h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Section: Services -->
        <section id="services" class="bg-silver-light">
            <div class="container pb-40">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-uppercase mt-0 line-height-1 themed-heading">{{ page.srvc_heading|default:""|safe }}</h2>
                            <div class="title-icon">
                                <img class="mb-10" src="{% static 'images/title-icon.png' %}" alt="">
                            </div>
                            <p>{{ page.srvc_desc|default:"" }}</p>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row same-height-row-by-js">
                        {% for svcit in page.services_icontext.all %}
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pb-30">
                                <div class="icon-box text-center bg-white bg-hover-theme-colored2 p-30 h-100">
                                    <i class="{{ svcit.icon|default:"" }} font-weight-600 text-theme-colored{% if forloop.counter|divisibleby:2 %}2{% endif %} font-38"></i>
                                    <h3 class="mt-20">{{ svcit.name|default:"" }}</h3>
                                    <p>{{ svcit.desc|default:"" }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <!--<section>
            <div class="container-fluid pt-0 pb-0">
                <div class="row equal-height">
                    <div class="col-md-6 bg-theme-colored2 sm-height-auto">
                        <div class="p-50 p-sm-0 p-sm-0 pt-sm-30 pb-sm-30">
                            <h2 class="text-white text-capitalize">{{ page.get_prom_items.title|default:"" }}</h2>
                            <p class="text-white">{{ page.get_prom_items.content|default:""|striptags|truncatewords:"80"|safe }}</p>
                            {% if page.get_prom_items.url %}
                                <a href="{{ page.get_prom_items.url }}" class="btn btn-default btn-circled mt-10">
                                    {{ page.get_prom_items.url_text|default:"view details" }}
                                </a>
                            {% elif page.get_prom_items.slug %}
                                <a href="{% pageurl page.get_prom_items %}" class="btn btn-default btn-circled mt-10">view details</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 sm-height-auto overlay-img-bg overlay-img-bg-theme2 promt_bg"
                         {% if page.prom_bg.file %}data-bg-img="{{ page.prom_bg.file.url }}"{% endif %}>
                        <div class="p-50 p-sm-0 p-sm-0 pt-sm-30 pb-sm-30">
                            <form>
                                <h3 class="mt-0 line-bottom mb-30">Get a <span class="text-theme-colored font-weight-600">Quote</span> Now!</h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <label for="home-quote_f_name" class="hidden-label">First Name</label>
                                            <input placeholder="First Name" type="text" id="home-quote_f_name" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <label for="home-quote_m_name" class="hidden-label">Middle Name</label>
                                            <input placeholder="Middle Name" type="text" id="home-quote_m_name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <label for="home-quote_l_name" class="hidden-label">Last Name</label>
                                            <input placeholder="Last Name" type="text" id="home-quote_l_name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <label for="home-quote_email" class="hidden-label">Email</label>
                                            <input placeholder="Email" type="email" id="home-quote_email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <label for="home-quote_phone" class="hidden-label">Phone</label>
                                            <input placeholder="Phone" type="text" id="home-quote_phone" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <label for="home-quote_zip" class="hidden-label">Zip Code</label>
                                            <input type="text" id="home-quote_zip" class="form-control" placeholder="Zip Code">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group mb-0 mt-0">
                                            <button type="submit" class="btn btn-colored btn-theme-colored btn-lg btn-flat border-left-theme-color-2-4px">Submit Now</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->

        <!--Section: testimonial-->
        <section class="divider parallax layer-overlay overlay-theme-colored2-9" data-background-ratio="0.7" 
                 data-bg-img="{% if page.tm_img.file %}{{ page.tm_img.file.url }}{% else %}{% static 'images/bg/bg3.jpg' %}{% endif %}">
            <div class="container">
                <div class="section-title text-center mt-0">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-uppercase mt-0 line-height-1 themed-heading2">{{ page.tm_heading|default:""|safe }}</h2>
                            <div class="title-icon">
                                <img class="mb-10" src="{% static 'images/title-icon.png' %}" alt="">
                            </div>
                            <p class="text-white">{{ page.tm_desc|default:""|safe }}</p>
                        </div>
                    </div>
                </div>
                {% if page.client_testimonial.all %}
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="owl-carousel-3col" data-dots="true">
                                    {% for item in page.client_testimonial.all %}
                                    <div class="item">
                                        <div class="testimonial-wrapper text-center p-30">
                                            {% if item.img.file %}
                                                <div class="thumb mb-30">
                                                    <div class="img-circle inline-block">
                                                        <div class="img-circle-div" style="background-image:url('{{ item.img.file.url }}');"></div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="content">
                                                <p class="mb-25 text-white">{{ item.msg|default:""|safe }}</p>
                                                <h4 class="author text-theme-colored mb-0 font-opensans font-weight-700 font-22">{{ item.name|default:"Anonymous" }}</h4>
                                                <h6 class="title mt-0 mb-15 text-white">{{ item.location|default:"" }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>

        <!-- Section: Health Insurances -->
        <!-- <section id="health-insurances" class="bg-silver-light">
            <div class="container">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="mt-0 line-height-1 text-uppercase themed-heading">{{ page.ins_heading|default:""|safe }}</h2>
                            <div class="title-icon">
                                <img class="mb-10" src="{% static 'images/title-icon.png' %}" alt="">
                            </div>
                            <p>{{ page.ins_desc|default:""|safe }}</p>
                        </div>
                    </div>
                </div>
                <div class="section-centent">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="horizontal-tab-centered">
                                <div class="text-center">
                                    <ul class="nav nav-pills mb-10">
                                        {% for inp in page.ins_policy.all %}
                                            <li{% if forloop.counter == 1 %} class="active"{% endif %}>
                                                <a href="#inp-tab-{{ forloop.counter }}" data-toggle="tab" aria-expanded="false">{{ inp.name|default:""|safe }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="tab-content bg-white">
                                    {% for inp in page.ins_policy.all %}
                                        <div class="tab-pane fade{% if forloop.counter == 1 %} in active{% endif %}" id="inp-tab-{{ forloop.counter }}">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="service-content ml-10 ml-sm-0">
                                                        <h2 class="">{{ inp.name|default:""|safe }}</h2>
                                                        <div>{{ inp.desc|default:""|safe }}</div>
                                                        <div class="row mt-20 mb-sm-30">{{ inp.facilities|default:""|safe }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="thumb mt-20">
                                                        <img class="img-fullwidth" src="{% if inp.img.file %}{{ inp.img.file.url }}{% endif %}" alt="{{ inp.img.file.title }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <section class="bg-silver-light">
            <div class="container">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="mt-0 line-height-1 text-uppercase themed-heading">{{ page.txt_heading|default:""|safe }}</h2>
                            <div class="title-icon">
                                <img class="mb-10" src="{% static 'images/title-icon.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-centent text-center">
                    <p>{{ page.txt_desc|default:""|safe }}</p>
                </div>
            </div>
        </section>

         <!-- Section: Benefits & Disclaimers -->
        <section id="benefits-disclaimer" class="bg-theme-colored2 pt-20 pb-20">
            <div class="container pt-10 pb-10">
                <div class="section-content">
                    <div class="row">
                        {% if page.benefit_text.all %}
                            <div class="col-md-12">
                                <div class="owl-carousel-6col transparent text-center owl-nav-top">
                                    {% for benefit in page.benefit_text.all %}
                                        <div class="pr-10 pl-10 item">
                                            <div class="benefit-card">
                                                {{ benefit.text|safe }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if page.disclaimer %}
                            <div class="col-md-12 text-center home-disclaimer">{{ page.disclaimer|safe }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}

{% block extra_js %}
    {# hack for same height for now #}
    <script>
        $(document).ready(function(){
            $('.same-height-row-by-js').each(function () {
                var highestBox = 0;
                $('.col-sm-6', this).each(function () {
                    if ($(this).height() > highestBox)
                        highestBox = $(this).height();
                });
                $('.col-sm-6', this).height(highestBox);
            });
        });
    </script>
{% endblock %}
