{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: Home Banner -->
        <section id="home" class="divider parallax overlay-img-bg" data-stellar-background-ratio="0.5"
                 data-bg-img="{% if page.banner_bg.file %}{{ page.banner_bg.file.url }}{% else %}{% static 'images/bg/bg3.jpg' %}{% endif %}">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 mb-40 mt-50">
                                <h1 class="text-white text-uppercase hidden-xs hidden-sm line-height-1 text-center font-dois banner-heading">{{ page.banner_slogan|default:"" }}</h1>
                            </div>
                            <div class="col-md-6 col-md-offset-3">
                                <div class="p-25 pb-40 banner-zip-form-wrapper">
                                    <h3 class="m-0 mb-30 text-center">
                                        <span class="text-theme-colored2">Get a</span>
                                        <span class="text-theme-colored">Quote</span>
                                    </h3>
                                    <form id="home_appointment_form">
                                        <div class="input-group">
                                            <input type="text" placeholder="Enter Zip code" class="form-control input-lg font-16" style="height: 45px;">
                                            <span class="input-group-btn">
                                                <button class="btn btn-colored btn-theme-colored btn-xs m-0 font-14 pl-60 pr-60" type="button"
                                                        data-toggle="modal" data-target="#quote-modal" style="height: 45px;">Quote</button>
                                            </span>
                                        </div>
                                    </form>
                                    <p class="text-center text-black-777">{{ page.banner_qt_text|default:"" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: why choose us -->
        <section id="about">
            <div class="container pb-0">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="text-uppercase mt-0 mb-0 font-opensans themed-heading">{{ page.why_choose_heading|default:""|safe }}</h2>
                        <div class="title-icon mb-20">
                            <img class="mb-10" src="{% static 'images/title-icon.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-8 wow fadeInLeft animation-delay1 pt-80">
                        <div>{{ page.why_choose_desc |default:""|safe }}</div>
                        <div class="row mt-20 mb-sm-30">
                            {% for wcit in page.whychoose_icontext.all %}
                                <div class="col-sm-6">
                                    <div class="service-icon-box">
                                        <div>
                                        <a href="javascript:void(0);" class="icon pull-left mr-10 full-centered">
                                            <i class="{{ wcit.icon|default:"" }}"></i>
                                        </a></div>
                                        <div>
                                            <h4 class="mt-0 mb-0">{{ wcit.name|default:"" }}</h4>
                                            <p class="">{{ wcit.desc|default:"" }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInRight animation-delay4">
                        <img src="{% if page.why_choose_img.file %}{{ page.why_choose_img.file.url }}{% endif %}" alt="{{ page.why_choose_img.title|default:"Happy Customer" }}">
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Achievement -->
        <section class="divider parallax layer-overlay overlay-theme-colored2-9" data-bg-img="{% if page.achiev_bg.file %}{{ page.achiev_bg.file.url }}{% endif %}" data-parallax-ratio="0.7">
            <div class="container pt-60 pb-60">
                <div class="row">
                    {% for acv in page.achievement_count.all %}
                        <div class="col-xs-6 col-sm-6 col-md-3 mb-md-50">
                            <div class="funfact text-center">
                                <i class="{{ acv.icon|default:"" }} mt-5 text-white"></i>
                                <h2 data-animation-duration="2000" data-value="{{ acv.count|default:"0" }}" class="animate-number text-white font-42 font-weight-500">0</h2>
                                <h5 class="text-white text-uppercase font-weight-600">{{ acv.name|default:"-" }}</h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Section: Services -->
        <section id="services" class="bg-silver-light">
            <div class="container pb-40">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-uppercase mt-0 line-height-1 themed-heading">{{ page.srvc_heading|safe }}</h2>
                            <div class="title-icon">
                                <img class="mb-10" src="{% static 'images/title-icon.png' %}" alt="">
                            </div>
                            <p>{{ page.srvc_desc }}</p>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row" style="display: flex; flex-wrap: wrap;">
                        {% for svcit in page.services_icontext.all %}
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pb-30">
                                <div class="icon-box text-center bg-white bg-hover-theme-colored2 p-30 h-100">
                                    <i class="{{ svcit.icon|default:"" }} font-weight-600 text-theme-colored{% if forloop.counter|divisibleby:2 %}2{% endif %} font-38"></i>
                                    <h3 class="mt-20">{{ svcit.name|default:"" }}</h3>
                                    <p>{{ svcit.desc|default:"" }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container-fluid pt-0 pb-0">
                <div class="row equal-height">
                    <div class="col-md-6 bg-theme-colored2 sm-height-auto">
                        <div class="p-50 p-sm-0 p-sm-0 pt-sm-30 pb-sm-30">
                            <h2 class="text-white">In Search Of A Good And Quality Health Insurance, 100+ agents are waiting for you.</h2>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi molestiae autem fugit consectetur dolor ullam illo ipsa numquam, quod iusto
                                enim ipsum amet iusto amet consec utem fugit consllo ipsa numquam dolor ullam illo, quod iusto enim ipsum amet iusto amet consec.</p>
                            <a href="#" class="btn btn-default btn-circled mt-10">view details</a>
                        </div>
                    </div>
                    <div class="col-md-6 bg-img-cover sm-height-auto overlay-img-bg overlay-img-bg-theme2" data-bg-img="{% static 'images/bg/bg29.jpg' %}">
                        <div class="p-50 p-sm-0 p-sm-0 pt-sm-30 pb-sm-30">
                            <form>
                                <h3 class="mt-0 line-bottom mb-30">Quote <span class="text-theme-colored font-weight-600">Now!</span></h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <input placeholder="First Name" type="text" name="f_name" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <input placeholder="Last Name" type="text" name="l_name" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <input placeholder="Email" type="text" name="email" class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <input placeholder="Phone" type="text" name="phone" class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <div class="styled-select">
                                                <select name="car_select" class="form-control" required="">
                                                    <option value="">- Select Your Services -</option>
                                                    <option value="stm">STM</option>
                                                    <option value="lim">Limited</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-30">
                                            <input name="effective_date" class="form-control required date-picker" type="text" placeholder="Effective Date" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group mb-0 mt-0">
                                            <input name="form_botcheck" class="form-control" type="hidden" value="">
                                            <button type="submit" class="btn btn-colored btn-theme-colored btn-lg btn-flat border-left-theme-color-2-4px" data-loading-text="Please wait...">Submit
                                                Now
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Health Insurances -->
        <section id="health-insurances" class="bg-silver-light">
            <div class="container">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="mt-0 line-height-1 text-uppercase themed-heading">{{ page.ins_heading|default:""|safe }}</h2>
                            <div class="title-icon">
                                <img class="mb-10" src="{% static 'images/title-icon.png' %}" alt="">
                            </div>
                            <p>{{ page.ins_desc|default:""|safe }}</p>
                        </div>
                    </div>
                </div>
                <div class="section-centent">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="horizontal-tab-centered">
                                <div class="text-center">
                                    <ul class="nav nav-pills mb-10">
                                        {% for inp in page.ins_policy.all %}
                                            <li{% if forloop.counter == 1 %} class="active"{% endif %}>
                                                <a href="#inp-tab-{{ forloop.counter }}" data-toggle="tab" aria-expanded="false">{{ inp.name|default:""|safe }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="tab-content bg-white">
                                    {% for inp in page.ins_policy.all %}
                                        <div class="tab-pane fade{% if forloop.counter == 1 %} in active{% endif %}" id="inp-tab-{{ forloop.counter }}">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="service-content ml-10 ml-sm-0">
                                                        <h2 class="">{{ inp.name|default:""|safe }}</h2>
                                                        <div>{{ inp.desc|default:""|safe }}</div>
                                                        <div class="row mt-20 mb-sm-30">{{ inp.facilities|default:""|safe }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="thumb mt-20">
                                                        <img class="img-fullwidth" src="{% if inp.img.file %}{{ inp.img.file.url }}{% endif %}" alt="{{ inp.img.file.title }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

         <!-- Section: Partner -->
        <section id="partner" class="bg-theme-colored2 pt-20 pb-20">
            <div class="container pt-10 pb-10">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="owl-carousel-6col transparent text-center owl-nav-top">
                                {% for partner_logo in settings.home.PartnerImgSettings.partner_img_panel.all %}
                                    {% if partner_logo.logo.file %}
                                        <div class="pr-10 pl-10 item">
                                            {% if partner_logo.ptnr_url %}<a href="{{ partner_logo.ptnr_url }}">{% endif %}
                                                <img src="{{ partner_logo.logo.file.url }}" alt="{{ partner_logo.alt_text|default:"" }}">
                                            {% if partner_logo.ptnr_url %}</a>{% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
