{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <style>
        {% if page.bg_img.file %}
        #quote-page-heading {
            background: url('{{ page.bg_img.file.url }}') center center fixed no-repeat;
            background-size: cover;
        }
        {% endif %}
        
        .layer-overlay.overlay-dark-5::before {
            background-color: rgba(17, 17, 17, 0.81);
        }
    </style>
{% endblock %}

{% block content %}
    <div id="quote-loading-overlay">
        <img src="{% static 'images/preloaders/1.gif' %}" alt="Loading..">
    </div>
    <div class="main-content">
        {% comment %}<section>
            <div class="container text-center">
                <h1 class="text-uppercase mt-0 font-opensans themed-heading2 bordered-heading">Get a Free <span>Quote</span></h1>
                <div class="">{{ page.small_desc|default:""|safe }}</div>
            </div>
        </section>{% endcomment %}
    
        <!-- Section: Heading -->
        <section id="quote-page-heading" class="inner-header layer-overlay overlay-dark-5">
            <div class="container pt-60 pb-60">
                <!-- Section Content -->
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="text-white font-48 font-weight-700 mb-25 font-opensans title text-left">{{ page.title }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container text-center">
                <div style="border: 1px solid #0e56dd;padding: 9px 0;background: #dedede;color: #000;margin-bottom: 50px;font-size: 18px;font-weight: 600;">
                    Please fill out the fields below to find your best rates.</div>
                <div>
                    {{ page.small_desc|default:"To give you the best quotes possible, we will need to contact you."|safe }}
                </div>
                <div style="margin-top: 40px;border: 1px solid #777;background: #f3f3f3;padding: 8px 0;color: #000;">Fields marked with an * are required</div>
            </div>
        </section>
        <section id="quote-form">
            <div class="container pt-0">
                <div id="quote-form-response" class="pl-15 pr-15 text-capitalize"></div>
                <form class="form-animated-field" id="get-a-quote-main-form" method="post"
                      action="{% pageurl page %}">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form.visible_fields %}
                            <div class="col-sm-6">
                                <div class="form-group mb-10">
                                    <div>{{ field.errors }}</div>
                                    {% if field.name == 'state' %}
                                        <select class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}">
                                            <option disabled selected value>State *</option>
                                            {% for state in state_options %}
                                                <option value="{{ state.0 }}">{{ state.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <input class="form-control{% if field.name == 'date-of-birth' %} date-picker{% endif %}" type="{{ field.field.widget.input_type }}"
                                               {% if field.name == 'zip-code' and request.GET.zip_code %}value="{{ request.GET.zip_code }}"{% endif %}
                                               name="{{ field.name }}" id="{{ field.id_for_label }}"
                                               {% if field.field.required %}required="required" aria-required="true"{% endif %}>
                                        {#{{ field.label_tag }}#}
                                        <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-sm-12 text-center mt-30">
                            <button type="submit" class="btn btn-primary btn-block btn-lg btn-theme-colored text-capitalize" style="border-radius: 0">get quotes now</button>
                        </div>
                    </div>
                </form>
            
                <div class="mt-40">
                    <div class="font-12">By submitting your information and clicking below, you represent that you are at least 18 years old and agree to be contacted by 
                        eAgentDirect Inc. and/or its partner companies and any of their commercial partners for various insurance products through the use of automated 
                        telephone dialing systems, pre-recorded messages, and/or text messages. Message and data rates may apply. Your consent is not a condition of purchase.
                        This program is subject to our Privacy Policy and Terms of Use.</div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}