{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags extra_tags %}

{% block extra_css %}
    <style>
        #simple-page-heading {
            background: url('{{ page.heading_bg.file.url }}') center center fixed;
            -webkit-background-size: cover;
            background-size: cover;
        }
        #slogan {
            background:url('{{ page.slogan_img.file.url }}') #eef0ff no-repeat 92% 50%;
            -webkit-background-size: auto 200px;
            background-size: auto 200px;
            min-height: 250px;
            font-size: 30px;
            line-height: 1.4;
            color: #000;
        }

        #content {
            font-size: 17px;
            line-height: 1.4;
        }
        p{
            margin-bottom: 5px;
        }
         h1,
         h2,
         h3,
         h4,
         h5,
         h6{
            margin-bottom: 10px;
            margin-top: 30px;
            font-weight: normal;
            line-height: normal;
        }
        #content h2{
            text-align: center;
            color: #5398f3;
        }
        #content h3{
            color: #db5f1d;
        }
        #content ul{
            padding: 0;
            margin-left: 80px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        #content ul li{
            list-style-image: url("{% static 'images/l-icon.png' %}");
            line-height: 22px;
            margin-bottom: 15px;
        }
        .shadow {
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        }
        .shadow-sm {
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
        }
        .rounded {
            border-radius: .25rem!important;
        }

        @media (max-width: 425px) {
            #content ul {
                margin-left: 30px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Section: Heading -->
    <section id="simple-page-heading" class="inner-header layer-overlay overlay-dark-5">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="text-white font-48 font-weight-700 mb-25 font-opensans title">{{ page.title }}</h2>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="p-25 pb-40 banner-zip-form-wrapper">
                            <h3 class="m-0 mb-30 text-center">
                                <span class="text-theme-colored2">Get a</span>
                                <span class="text-theme-colored">Quote</span>
                            </h3>
                            <form id="home_appointment_form" class="auto-zip-form" method="get" action="{% get_quote_page_url %}">
                                <div class="input-group">
                                    <label for="banner_zip_code" class="hidden-label">Zip Code</label>
                                    <input type="number" onKeyPress="if(this.value.length===5) return false;"
                                           name="zip_code" placeholder="Enter Zip code"
                                           class="form-control input-lg font-16" id="banner_zip_code" style="height: 45px;">
                                    <span class="input-group-btn">
                                        <button class="btn btn-colored btn-theme-colored btn-xs m-0 font-14 pl-60 pr-60"
                                                type="submit" style="height: 45px;">Quote</button>
                                    </span>
                                </div>
                            </form>
                            <p class="text-center text-black-444">{{ home_page.banner_qt_text|default:"" }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Slogan -->
    <section id="slogan">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    {{ page.slogan_txt|default:page.title|safe }}
                </div>
            </div>
        </div>
    </section>

    <section id="content" class="bg-silver-light">
        <div class="container ">
            <div class="bg-white shadow rounded" style="max-width: 980px; margin: 0 auto; padding: 0 30px 30px 30px;border: 1px solid #dadada">
                {{ page.content|default:page.title|safe }}
            </div>
        </div>
    </section>
{% endblock %}