{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block extra_css %}
    <style>
        #article-heading {
            {% if page.feature_bg.file %}background-image: url('{{ page.feature_bg.file.url }}'){% endif %};
        }

        {% if page.sidebar_form_bg.file %}
            .sidebar-bg-over-form {
                background: url('{{ page.sidebar_form_bg.file.url }}') no-repeat top center;
                width: 100%;
                height: 200px;
                background-size: contain;
            }
        {% endif %}
    </style>
{% endblock %}

{% block content %}
    <!-- Section: Heading -->
    <section id="article-heading" class="inner-header layer-overlay overlay-white-5">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="font-dois title">{{ page.title|default:""|safe }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Recent Articles -->
    <section>
        <div class="container mt-30 mb-30 pt-30 pb-30">
            <div class="row">
                <div class="col-md-9">
                    <div class="blog-posts">
                        <div class="col-md-12">
                            <div class="row list-dashed">
                                {% for article in page.get_children.specific %}
                                    <article class="post clearfix pb-0">
                                        {% if article.feature_img %}
                                            <div class="entry-header">
                                                <div class="post-thumb thumb">
                                                    <a href="{% pageurl article %}">
                                                        {% comment %}<img src="{{ article.feature_img.file.url }}" alt="{{ article.feature_img.file.title }}" class="img-responsive img-fullwidth">{% endcomment %}
                                                        <div class="article-img-bg" style="background-image: url('{{ article.feature_img.file.url }}');"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="entry-date media-left bg-white flip article-date">
                                            <div class="font-16 text-gray-darkgray text-uppercase">{{ article.first_published_at|date:'F'|make_list|slice:'0:3'|join:'' }}</div>
                                            <div class="font-36 font-weight-700 font-weight-600">{{ article.first_published_at|date:'d' }}</div>
                                            <div class="font-16 text-gray-darkgray font-weight-600">{{ article.first_published_at|date:'Y' }}</div>
                                        </div>
                                        <div class="entry-content border-1px p-20 pr-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <h4 class="entry-title font-42 font-opensans font-weight-700 text-uppercase m-0 mt-5">
                                                        <a href="{% pageurl article %}" class="text-theme-colored2">{{ article.title }}</a>
                                                    </h4>
                                                    <div class="entry-meta media mt-0 no-bg no-border">
                                                        <div class="media-body pl-15">
                                                            <div class="event-content pull-left flip">
                                                                <span class="mb-10 text-gray-darkgray mr-10 font-13">
                                                                    <i class="fa fa-commenting-o mr-5 text-theme-colored-amber"></i>
                                                                    <span> 214 Comments</span>
                                                                </span>
                                                                <span class="mb-10 text-gray-darkgray mr-10 font-13">
                                                                    <i class="fa fa-heart-o mr-5 text-theme-colored-amber"></i>
                                                                    <span>{{ article.like_count }} Likes</span>
                                                                </span>
                                                                <br>
                                                                <span class="mb-10 text-gray-darkgray mr-10 font-13">
                                                                    <i class="fa fa-user-o mr-5 text-theme-colored-amber"></i>
                                                                    <span>{{ article.owner }}</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        {% if article.tags.all.count %}
                                                            <div class="article-tags pl-15">
                                                                <span class="mb-10 text-gray-darkgray mr-10 font-13">
                                                                    <i class="fa fa-tags mr-5 text-theme-colored-amber"></i>
                                                                    {% for tag in article.tags.all %}
                                                                        <a href="{% routablepageurl article_index_page "article_by_tag" tag.slug %}">{{ tag }}</a>
                                                                    {% endfor %}
                                                                </span>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="mt-10 mb-15">{{ article.content|striptags|safe|truncatewords_html:"50" }}</div>
                                                    <a href="{% pageurl article %}" class="btn btn-theme-colored btn-theme-outline-colored btn-read-more">Read more</a>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </article>
                                    {% if not forloop.last %}<hr class="mt-60 mb-60 article-divider">{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% comment %}<div class="col-md-12">
                            <nav>
                                <ul class="pagination theme-colored">
                                    <li><a aria-label="Previous" href="#"> <span aria-hidden="true">« prev</span> </a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a aria-label="Next" href="#"> <span aria-hidden="true">next »</span> </a></li>
                                </ul>
                            </nav>
                        </div>{% endcomment %}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sidebar sidebar-right mt-sm-30">
                        <div class="widget">
                            <h4 class="widget-title">{{ page.sidebar_form_main_heading|default:"Compare Insurance Plans" }}</h4>
                            <div>
                                <h5>{{ page.sidebar_form_heading|default:"Find the best plan suit for you" }}</h5>
                                <form class="auto-zip-form">
                                    <div class="sidebar-bg-over-form"></div>
                                    <div class="input-group">
                                        <label for="article_sidebar_zip_code" class="hidden-label">Zip Code</label>
                                        <input type="number" onKeyPress="if(this.value.length===5) return false;" placeholder="Enter Zip code"
                                               class="form-control input-lg font-16" id="article_sidebar_zip_code" style="height: 45px;">
                                        <span class="input-group-btn">
                                                <button class="btn btn-colored btn-theme-colored btn-xs m-0 font-14" type="button"
                                                        data-toggle="modal" data-target="#quote-modal" style="height: 45px;">Quote</button>
                                            </span>
                                    </div>
                                </form>
                            </div>
                        </div>

                        {% if most_viewed_articles %}
                            <div class="widget">
                                <h5 class="widget-title">Most viewed Articles</h5>
                                <div class="widget-sidebar-article">
                                    {% for article in most_viewed_articles %}
                                        <a href="{% pageurl article %}" class="item">
                                            <div class="article-img-bg widget-sidebar-article-img-bg" style="background-image: url('{{ article.feature_img.file.url }}');"></div>
                                            <div class="widget-sidebar-article-text">
                                                <h4 class="mt-0 mb-0">This is a Recent Title</h4>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    
                        {% if recent_articles %}
                            <div class="widget">
                                <h5 class="widget-title">Recent Articles</h5>
                                <div class="widget-sidebar-article">
                                    {% for article in recent_articles %}
                                        <a href="{% pageurl article %}" class="item">
                                            <div class="article-img-bg widget-sidebar-article-img-bg" style="background-image: url('{{ article.feature_img.file.url }}');"></div>
                                            <div class="widget-sidebar-article-text">
                                                <h4 class="mt-0 mb-0">This is a Recent Title</h4>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if all_tags|default:""|length > 1 %}
                            <div class="widget">
                                <h5 class="widget-title">Tags</h5>
                                <div class="tags">
                                    {% for tag in all_tags %}
                                        {% if tag %}
                                            <a href="{% routablepageurl article_index_page "article_by_tag" tag.slug %}">{{ tag }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section> 
{% endblock %}