{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block extra_css %}
    <style>
        #article-heading {
            background-image: url('{{ all_article_page.feature_bg.file.url }}');
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Section: Heading -->
    <section id="article-heading" class="inner-header layer-overlay overlay-white-5">
        <div class="container pt-60 pb-60">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="font-dois title">{{ page.title|default:""|safe }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container mt-30 mb-30 pt-30 pb-30">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <img src="{{ page.feature_img.file.url }}" style="width: 100%;" alt="{{ page.feature_img.title }}">
                    </div>
                    <div>{{ page.content|default:""|safe }}</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}