{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block extra_css %}
    <style>

        #article-heading {
            background-image: url('{{ all_article_page.feature_bg.file.url }}');
        }
        .article-sidebar-form{
            display: flex;
            flex-direction: column;
            max-width: 300px;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Section: Heading -->
    <section id="article-heading" class="inner-header layer-overlay overlay-white-5">
        <div class="container pt-60 pb-60">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="font-dois title">{{ page.title|default:""|safe }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-silver-light">
        <div class="container pt-60 pb-60">
            <div class="row">
                <div class="col-md-9">
                    <div class="bg-white">
                        <div>
                            <img src="{{ page.feature_img.file.url }}" style="width: 100%;"
                                 alt="{{ page.feature_img.title }}">
                        </div>
                        <div class="p-20">{{ page.content|default:""|safe }}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sidebar sidebar-right mt-sm-30">
                        <div class="widget">
                            <h4 class="widget-title">Compare Insurance Plans</h4>
                            <div>
                                <h5>Find the best plan suit for you</h5>
                                <img src="http://placehold.it/500x100" alt="gg">
                                <form class="mt-20 article-sidebar-form">
                                    <label for="gg">Enter Zip Code</label>
                                    <input type="text" id="gg">
                                    <button type="submit" class="btn btn-theme-colored mt-20">Get Quote</button>
                                </form>
                            </div>
                        </div>

                        {% if most_viewed_articles %}
                            <div class="widget">
                                <h5 class="widget-title">Most viewed Articles</h5>
                                <div class="widget-sidebar-article">
                                    {% for article in most_viewed_articles %}
                                        <a href="{% pageurl article %}" class="item">
                                            <div class="article-img-bg widget-sidebar-article-img-bg" style="background-image: url('{{ article.feature_img.file.url }}');"></div>
                                            <div class="widget-sidebar-article-text">
                                                <h4 class="mt-0 mb-0">This is a Recent Title</h4>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if recent_articles %}
                            <div class="widget">
                                <h5 class="widget-title">Recent Articles</h5>
                                <div class="widget-sidebar-article">
                                    {% for article in recent_articles %}
                                        <a href="{% pageurl article %}" class="item">
                                            <div class="article-img-bg widget-sidebar-article-img-bg" style="background-image: url('{{ article.feature_img.file.url }}');"></div>
                                            <div class="widget-sidebar-article-text">
                                                <h4 class="mt-0 mb-0">This is a Recent Title</h4>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if all_tags|length > 1 %}
                            <div class="widget">
                                <h5 class="widget-title">Tags</h5>
                                <div class="tags">
                                    {% for tag in all_tags %}
                                        <a href="{% routablepageurl article_index_page "article_by_tag" tag.slug %}">{{ tag }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}