<div class="modal fade" id="quote-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title p-15">Get your preferable quote</h3>
                </div>
                <div class="modal-body">
                    <div class="section-content bg-white p-15">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-animated-field">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <input name="quote_f_name" id="quote_f_name" class="form-control required" type="text" required="required" aria-required="true">
                                                <label for="quote_f_name">First Name</label>
                                            </div>
                                        </div> <!--first name-->
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <input name="quote_l_name" id="quote_l_name" class="form-control required" type="text" required="required" aria-required="true">
                                                <label for="quote_l_name">Last Name</label>
                                            </div>
                                        </div> <!--last name-->
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <input name="quote_email" id="quote_email" class="form-control required email" type="text" required="required" aria-required="true">
                                                <label for="quote_email">Your Email</label>
                                            </div>
                                        </div> <!--email-->
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <input name="quote_phone" id="quote_phone" class="form-control required" required="required" type="tel" aria-required="true">
                                                <label for="quote_phone">Phone number</label>
                                            </div>
                                        </div> <!--phone number-->
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <input name="quote_zip" id="quote_zip" class="form-control required" required="required" type="tel" aria-required="true">
                                                <label for="quote_zip">Zip code</label>
                                            </div>
                                        </div> <!--zip code-->
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <input name="quote_eff_date" id="quote_eff_date" class="form-control required date-picker" required="required" type="text" aria-required="true">
                                                <label for="quote_eff_date">Effective Date</label>
                                            </div>
                                        </div> <!--effective date-->
                                        <div class="col-sm-12">
                                            <div class="form-group mb-10">
                                                <textarea id="quote_address" name="form_message" class="form-control required" required="required" rows="5" aria-required="true"></textarea>
                                                <label for="quote_address">Your Address</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">See Quote</button>
                </div>
            </div>
        </div>
    </div>