
.post-categories {
    margin: 0 5px 10px;
}
.post-categories a{
    border: 1px solid #f36438;
    padding: 3px 5px;
    margin-right: 8px;
}
.entry-title {
    font-size: 32px;
    margin: 5px 0 0 0;
}
.post-details {
    font-size: 14px;
    font-weight: 500;
    color: #7a8a9e;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}
.single-post .post-details>* {
    display: inline-block;
    vertical-align: middle;
}
.post-details .post-author-info .avatar {
    border-radius: 50%;
    margin-right: 10px;
}
.article-tags a {
    border: 1px solid #f36438;
    color: #f36438;
}
.blog-feature-img{
     overflow: hidden;
     position: relative;
}
.blog-feature-img img{
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.blog-feature-img img:hover{
    cursor: pointer;
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.blog-feature-img-overlay{
    display: none;
    position: absolute;
    background: rgba(52,73,94,0.75);
    height: 100%;
    width: 100%;

}
.blog-feature-img img:hover .blog-feature-img-overlay{
    display: block !important;

}
.item-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*sidebar style start*/
.article-sidebar-form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.widget .widget-title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.sidebar-widget-title-bg{
    padding: 10px;
    border-radius: 3px;

 }
 .widget-sidebar-article{
    background: #a9dff3;
    padding: 25px;
    border-radius: 6px;
 }

.widget-sidebar-article a {
    display: flex;
    height: 80px;
    padding: 8px 10px 8px 0;
}

.widget-sidebar-article a>.widget-sidebar-article-img-bg {
    height: 100%;
    width: 80px;
    border-radius: 6px;
}

.widget-sidebar-article a>.widget-sidebar-article-text {
    overflow: hidden;
}
.widget-sidebar-article a>.widget-sidebar-article-text:not(:first-child) {
    padding-left: 10px;
}

/*sidebar style end*/