
.post-categories {
    margin: 0 5px 10px;
}
.post-categories a{
    border: 1px solid #f36438;
    padding: 3px 5px;
    margin-right: 8px;
}
.entry-title {
    margin: 5px 0 0 0;
}
.post-details {
    font-size: 14px;
    font-weight: 500;
    color: #7a8a9e;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.single-post .post-details>* {
    display: inline-block;
    vertical-align: middle;
}
.post-details .post-author-info .avatar {
    border-radius: 50%;
    margin-right: 10px;
}
.article-tags a {
    border: 1px solid #f36438;
    color: #f36438;
}
.blog-feature-img{
     overflow: hidden;
     position: relative;
}
.blog-feature-img img{
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.blog-feature-img img:hover{
    cursor: pointer;
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.blog-feature-img-overlay{
    display: none;
    position: absolute;
    background: rgba(52,73,94,0.75);
    height: 100%;
    width: 100%;

}
.blog-feature-img img:hover .blog-feature-img-overlay{
    display: block !important;

}
.item-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*sidebar style start*/
.article-sidebar-form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.widget .widget-title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.sidebar-widget-title-bg{
    padding: 10px;
    border-radius: 3px;

 }
 .widget-sidebar-article{
    background: #a9dff3;
    padding: 25px;
    border-radius: 6px;
 }

.widget-sidebar-article a {
    display: flex;
    height: 80px;
    padding: 8px 10px 8px 0;
}

.widget-sidebar-article a>.widget-sidebar-article-img-bg {
    height: 100%;
    width: 80px;
    border-radius: 6px;
}

.widget-sidebar-article a>.widget-sidebar-article-text {
    overflow: hidden;
}
.widget-sidebar-article a>.widget-sidebar-article-text:not(:first-child) {
    padding-left: 10px;
}

/*sidebar style end*/


/*full page blog style start*/
.entry-header{
    display: inline-block;
}
.layer-overlay.overlay-white-5::before {
    background-color: rgba(0, 0, 0, 0.5);
}
.post-author-info{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    line-height: 24px;
}
.post-author-info a:hover{
    color: #f36438!important;
}
.article-img-bg {
    width: 100%;
    height: 230px;
    max-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.blog-card{
    background: #fff;
   /* box-shadow: 0px 30px 90px rgba(0,0,0,0.14);*/
    border-radius: 6px;
    margin: 20px 0;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;


}
.blog-card:hover{
    box-shadow: none;
}
.card-post-details {
    font-size: 14px;
    font-weight: 500;
    color: #7a8a9e;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.card-post-details .post-author-info .avatar {
    border-radius: 50%;
    margin-right: 10px;
}
.article-list-heading-bg{
    background: #fff;
    padding-bottom: 8px;
    padding-top: 8px;
    border: 1px solid #e2dcdc;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
/*full page blog style end*/


